:root {
--refreshing-green-rg-90: #111303;
--refreshing-green-rg-80: #222607;
--refreshing-green-rg-70: #343a0a;
--refreshing-green-rg-60: #454d0e;
--refreshing-green-rg-50: #566011;
--refreshing-green-rg-40: #677314;
--refreshing-green-rg-30: #788618;
--refreshing-green-rg-20: #8a9a1b;
--refreshing-green-rg-10: #9bad1f;
--refreshing-green-rg80: #eef2d3;
--refreshing-green-rg-00: #acc022;
--refreshing-green-rg10: #b4c638;
--refreshing-green-rg20: #bdcd4e;
--refreshing-green-rg30: #c5d364;
--refreshing-green-rg40: #cdd97a;
--refreshing-green-rg50: #d5df90;
--refreshing-green-rg60: #dee6a7;
--refreshing-green-rg70: #e6ecbd;
--refreshing-green-rg90: #f7f9e9;
--gray-gy-90: #090b0d;
--gray-gy-80: #12151a;
--gray-gy-70: #1b2027;
--gray-gy-60: #242a34;
--gray-gy-50: #2e3542;
--gray-gy-40: #37404f;
--gray-gy-30: #404a5c;
--gray-gy-20: #495569;
--gray-gy-10: #525f76;
--gray-gy-00: #5b6a83;
--gray-gy10: #6b798f;
--gray-gy20: #7c889c;
--gray-gy30: #8c97a8;
--gray-gy40: #9da6b5;
--gray-gy50: #adb4c1;
--gray-gy60: #bdc3cd;
--gray-gy70: #ced2da;
--gray-gy80: #dee1e6;
--gray-gy90: #eff0f3;
--confident-blue-cb-90: #000c13;
--confident-blue-cb-80: #001826;
--confident-blue-cb-70: #00243a;
--confident-blue-cb-60: #00304d;
--confident-blue-cb-50: #003c60;
--confident-blue-cb-40: #004773;
--confident-blue-cb-30: #005386;
--confident-blue-cb-20: #005f9a;
--confident-blue-cb-10: #006bad;
--confident-blue-cb-00: #0077c0;
--confident-blue-cb10: #1a85c6;
--confident-blue-cb20: #3392cd;
--confident-blue-cb30: #4da0d3;
--confident-blue-cb40: #66add9;
--confident-blue-cb50: #80bbdf;
--confident-blue-cb60: #99c9e6;
--confident-blue-cb70: #b2d6ec;
--confident-blue-cb80: #cce4f2;
--confident-blue-cb90: #e5f1f9;
--trusted-navy-tn-90: #04040c;
--trusted-navy-tn-80: #070818;
--trusted-navy-tn-70: #0b0c25;
--trusted-navy-tn-60: #0f1031;
--trusted-navy-tn-50: #13143d;
--trusted-navy-tn-40: #161849;
--trusted-navy-tn-30: #1a1c55;
--trusted-navy-tn-20: #1e2062;
--trusted-navy-tn-10: #21246e;
--trusted-navy-tn-00: #25287a;
--trusted-navy-tn10: #3b3e87;
--trusted-navy-tn20: #515395;
--trusted-navy-tn30: #6669a2;
--trusted-navy-tn40: #7c7eaf;
--trusted-navy-tn50: #9293bc;
--trusted-navy-tn60: #a8a9ca;
--trusted-navy-tn70: #bebed7;
--trusted-navy-tn80: #d3d4e4;
--trusted-navy-tn90: #e9e9f2;
--dark-pink-dp-90: #100006;
--dark-pink-dp-80: #20000b;
--dark-pink-dp-70: #2f0011;
--dark-pink-dp-60: #3f0017;
--dark-pink-dp-50: #4f001d;
--dark-pink-dp-40: #5f0022;
--dark-pink-dp-30: #6f0028;
--dark-pink-dp-20: #7e002e;
--dark-pink-dp-10: #8e0033;
--dark-pink-dp-00: #9e0039;
--dark-pink-dp10: #a81a4d;
--dark-pink-dp20: #b13361;
--dark-pink-dp30: #bb4d74;
--dark-pink-dp40: #c56688;
--dark-pink-dp50: #cf809c;
--dark-pink-dp60: #d899b0;
--dark-pink-dp70: #e2b2c4;
--dark-pink-dp80: #ecccd7;
--dark-pink-dp90: #f5e5eb;
--dark-orange-do-90: #170702;
--dark-orange-do-80: #2e0d05;
--dark-orange-do-70: #441407;
--dark-orange-do-60: #5b1a0a;
--dark-orange-do-50: #72210c;
--dark-orange-do-40: #89280e;
--dark-orange-do-30: #a02e11;
--dark-orange-do-20: #b63513;
--dark-orange-do-10: #cd3b16;
--dark-orange-do-00: #e44218;
--dark-orange-do10: #e7552f;
--dark-orange-do20: #e96846;
--dark-orange-do30: #ec7b5d;
--dark-orange-do40: #ef8e74;
--dark-orange-do50: #f1a08b;
--dark-orange-do60: #f4b3a3;
--dark-orange-do70: #f7c6ba;
--dark-orange-do80: #fad9d1;
--dark-orange-do90: #fcece8;
--refreshing-orange-ro-90: #1a1101;
--refreshing-orange-ro-80: #332202;
--refreshing-orange-ro-70: #4d3302;
--refreshing-orange-ro-60: #664403;
--refreshing-orange-ro-50: #805604;
--refreshing-orange-ro-40: #996705;
--refreshing-orange-ro-30: #b27806;
--refreshing-orange-ro-20: #cc8906;
--refreshing-orange-ro-10: #e59a07;
--refreshing-orange-ro-00: #ffab08;
--refreshing-orange-ro10: #ffb321;
--refreshing-orange-ro20: #ffbc39;
--refreshing-orange-ro30: #ffc452;
--refreshing-orange-ro40: #ffcd6b;
--refreshing-orange-ro50: #ffd583;
--refreshing-orange-ro60: #ffdd9c;
--refreshing-orange-ro70: #ffe6b5;
--refreshing-orange-ro80: #ffeece;
--refreshing-orange-ro90: #fff7e6;
--special-green-sg-90: #001207;
--special-green-sg-80: #00230d;
--special-green-sg-70: #003514;
--special-green-sg-60: #00461b;
--special-green-sg-50: #005822;
--special-green-sg-40: #006928;
--special-green-sg-30: #006928;
--special-green-sg-20: #008c36;
--special-green-sg-10: #009d3c;
--special-green-sg-00: #00af43;
--special-green-sg10: #1ab756;
--special-green-sg20: #33bf69;
--special-green-sg30: #4dc77b;
--special-green-sg40: #66cf8e;
--special-green-sg50: #80d7a1;
--special-green-sg60: #99dfb4;
--special-green-sg70: #b2e7c7;
--special-green-sg80: #ccefd9;
--special-green-sg90: #e5f7ec;
--light-pink-lp-90: #191212;
--light-pink-lp-80: #2f2323;
--light-pink-lp-70: #453433;
--light-pink-lp-60: #5c4443;
--light-pink-lp-50: #725554;
--light-pink-lp-40: #886564;
--light-pink-lp-30: #9f7674;
--light-pink-lp-20: #b58685;
--light-pink-lp-10: #cb9795;
--light-pink-lp-00: #f8b8b6;
--light-pink-lp90: #f9c5c3;
--light-pink-lp80: #facbca;
--light-pink-lp70: #fbd2d0;
--light-pink-lp60: #fbd8d7;
--light-pink-lp50: #fcdedd;
--light-pink-lp40: #fce5e4;
--light-pink-lp30: #fdebeb;
--light-pink-lp20: #fef2f1;
--light-pink-lp10: #fef8f8;
--pink-pk-90: #170c0e;
--pink-pk-80: #2c181a;
--pink-pk-70: #402326;
--pink-pk-60: #552e32;
--pink-pk-50: #69393e;
--pink-pk-40: #7e444a;
--pink-pk-30: #934f56;
--pink-pk-20: #a75b63;
--pink-pk-10: #bc666f;
--pink-pk-00: #e57c87;
--pink-pk10: #ea949d;
--pink-pk20: #ec9fa7;
--pink-pk30: #eeabb2;
--pink-pk40: #f1b7bd;
--pink-pk50: #f3c3c8;
--pink-pk60: #f5cfd3;
--pink-pk70: #f8dadd;
--pink-pk80: #fae6e8;
--pink-pk90: #fcf2f3;
--gray-gy-95: #050507;
--gray-gy95: #f7f8f9;
--white-white: #ffffff;
---template-tn-tn-90: #ffffff;
---template-tn-tn-80: #ffffff;
---template-tn-tn-70: #ffffff;
---template-tn-tn-60: #ffffff;
---template-tn-tn-50: #ffffff;
---template-tn-tn-40: #ffffff;
---template-tn-tn-30: #ffffff;
---template-tn-tn-20: #ffffff;
---template-tn-tn-10: #ffffff;
---template-tn-tn-00: #ffffff;
---template-tn-tn10: #ffffff;
---template-tn-tn20: #ffffff;
---template-tn-tn30: #ffffff;
---template-tn-tn40: #ffffff;
---template-tn-tn50: #ffffff;
---template-tn-tn60: #ffffff;
---template-tn-tn70: #ffffff;
---template-tn-tn80: #ffffff;
---template-tn-tn90: #ffffff;
--royal-blue-rb-90: #16181a;
--royal-blue-rb-80: #2c3033;
--royal-blue-rb-70: #41474d;
--royal-blue-rb-60: #575f66;
--royal-blue-rb-50: #6d7780;
--royal-blue-rb-40: #838f99;
--royal-blue-rb-30: #99a7b2;
--royal-blue-rb-20: #aebecc;
--royal-blue-rb-10: #c4d6e5;
--royal-blue-rb-00: #daeeff;
--royal-blue-rb10: #def0ff;
--royal-blue-rb20: #e1f1ff;
--royal-blue-rb30: #e5f3ff;
--royal-blue-rb40: #e9f5ff;
--royal-blue-rb50: #edf7ff;
--royal-blue-rb60: #f0f8ff;
--royal-blue-rb70: #f4faff;
--royal-blue-rb80: #f8fcff;
--royal-blue-rb90: #fbfdff;
--ocean-blue-ob-90: #070c12;
--ocean-blue-ob-80: #0e1824;
--ocean-blue-ob-70: #152536;
--ocean-blue-ob-60: #1c3148;
--ocean-blue-ob-50: #243d5a;
--ocean-blue-ob-40: #2b496b;
--ocean-blue-ob-30: #32557d;
--ocean-blue-ob-20: #39628f;
--ocean-blue-ob-10: #406ea1;
--ocean-blue-ob-00: #477ab3;
--ocean-blue-ob10: #5987bb;
--ocean-blue-ob20: #6c95c2;
--ocean-blue-ob30: #7ea2ca;
--ocean-blue-ob40: #91afd1;
--ocean-blue-ob50: #a3bcd9;
--ocean-blue-ob60: #b5cae1;
--ocean-blue-ob70: #c8d7e8;
--ocean-blue-ob80: #dae4f0;
--ocean-blue-ob90: #edf2f7;
--purple-pp-90: #0c0c13;
--purple-pp-80: #191825;
--purple-pp-70: #252538;
--purple-pp-60: #31314a;
--purple-pp-50: #3e3d5d;
--purple-pp-40: #4a496f;
--purple-pp-30: #565581;
--purple-pp-20: #626294;
--purple-pp-10: #6f6ea6;
--purple-pp-00: #7b7ab9;
--purple-pp10: #8887c0;
--purple-pp20: #9595c7;
--purple-pp30: #a3a2ce;
--purple-pp40: #b0afd5;
--purple-pp50: #bdbcdc;
--purple-pp60: #cacae3;
--purple-pp70: #d7d7ea;
--purple-pp80: #e5e4f1;
--purple-pp90: #f2f2f8;
--green-gn-90: #031308;
--green-gn-80: #06230f;
--green-gn-70: #083416;
--green-gn-60: #0b441e;
--green-gn-50: #0e5525;
--green-gn-40: #11662c;
--green-gn-30: #137633;
--green-gn-20: #16873a;
--green-gn-10: #199842;
--green-gn-00: #1eb950;
--green-gn10: #47c670;
--green-gn20: #5bcc7f;
--green-gn30: #6fd28f;
--green-gn40: #83d99f;
--green-gn50: #97dfae;
--green-gn60: #ace5be;
--green-gn70: #c0ebce;
--green-gn80: #d4f2de;
--green-gn90: #e8f8ed;
--red-rd-90: #150301;
--red-rd-80: #2b0603;
--red-rd-70: #410904;
--red-rd-60: #570d06;
--red-rd-50: #6d1008;
--red-rd-40: #821309;
--red-rd-30: #98170b;
--red-rd-20: #ae1a0c;
--red-rd-10: #c41d0e;
--red-rd-00: #da2110;
--red-rd10: #dd3727;
--red-rd20: #e14d3f;
--red-rd30: #e56357;
--red-rd40: #e8796f;
--red-rd50: #ec9087;
--red-rd60: #f0a69f;
--red-rd70: #f3bcb7;
--red-rd80: #f7d2cf;
--red-rd90: #fbe8e7;
--blue-be-90: #0a1117;
--blue-be-80: #14232e;
--blue-be-70: #1e3545;
--blue-be-60: #28475c;
--blue-be-50: #325974;
--blue-be-40: #3c6a8b;
--blue-be-30: #467ca2;
--blue-be-20: #508eb9;
--blue-be-10: #5aa0d0;
--blue-be-00: #65b2e8;
--blue-be10: #74b9ea;
--blue-be20: #83c1ec;
--blue-be30: #93c9ee;
--blue-be40: #a2d0f1;
--blue-be50: #b2d8f3;
--blue-be60: #c1e0f5;
--blue-be70: #d0e7f8;
--blue-be80: #e0effa;
--blue-be90: #eff7fc;
--alpha-white-1: #ffffff;
--alpha-white-2: #ffffff;
--alpha-white-3: #ffffff;
--alpha-white-4: #ffffff;
--alpha-white-5: #ffffff;
--alpha-white-6: #ffffff;
--alpha-white-7: #ffffff;
--alpha-white-8: #ffffff;
--alpha-white-9: #ffffff;
--alpha-black-1: #000000;
--alpha-black-2: #000000;
--alpha-black-3: #000000;
--alpha-black-4: #000000;
--alpha-black-5: #000000;
--alpha-black-6: #000000;
--alpha-black-7: #000000;
--alpha-black-8: #000000;
--alpha-black-9: #000000;
--alpha-white-0: #ffffff;
--alpha-black-0: #000000;
--deep-blue-db-90: #03090e;
--deep-blue-db-80: #07121b;
--deep-blue-db-70: #0a1a29;
--deep-blue-db-60: #0e2337;
--deep-blue-db-50: #112c45;
--deep-blue-db-40: #143552;
--deep-blue-db-30: #183e60;
--deep-blue-db-20: #1b466e;
--deep-blue-db-10: #1f4f7b;
--deep-blue-db-00: #225889;
--deep-blue-db10: #386995;
--deep-blue-db20: #4e79a1;
--deep-blue-db30: #648aac;
--deep-blue-db40: #7a9bb8;
--deep-blue-db50: #90abc4;
--deep-blue-db60: #a7bcd0;
--deep-blue-db70: #bdcddc;
--deep-blue-db80: #d3dee7;
--deep-blue-ob90: #e9eef3;
--sky-mist-sm-90: #0d1217;
--sky-mist-smb-80: #1a252e;
--sky-mist-sm-70: #273746;
--sky-mist-sm-60: #34495d;
--sky-mist-sm-50: #425c74;
--sky-mist-sm-40: #4f6e8b;
--sky-mist-sm-30: #5c80a2;
--sky-mist-sm-20: #6992ba;
--sky-mist-sm-10: #76a5d1;
--sky-mist-sm-00: #a1c7e8;
--sky-mist-sm10: #8fbeea;
--sky-mist-sm20: #9cc5ed;
--sky-mist-sm30: #a8cdef;
--sky-mist-sm40: #b5d4f1;
--sky-mist-sm50: #c1dbf3;
--sky-mist-sm60: #cde2f6;
--sky-mist-sm70: #dae9f8;
--sky-mist-sm80: #e6f1fa;
--sky-mist-sm90: #f3f8fd;
--dusky-sky-ds-90: #0b0e15;
--dusky-sky-ds-80: #151c29;
--dusky-sky-ds-70: #202a3e;
--dusky-sky-ds-60: #2a3853;
--dusky-sky-ds-50: #354768;
--dusky-sky-ds-40: #40557c;
--dusky-sky-ds-30: #4a6391;
--dusky-sky-ds-20: #5571a6;
--dusky-sky-ds-10: #5f7fba;
--dusky-sky-ds-00: #6a8dcf;
--dusky-sky-ds10: #7998d4;
--dusky-sky-ds20: #88a4d9;
--dusky-sky-ds30: #97afdd;
--dusky-sky-ds40: #a6bbe2;
--dusky-sky-ds50: #b4c6e7;
--dusky-sky-ds60: #c3d1ec;
--dusky-sky-ds70: #d2ddf1;
--dusky-sky-ds80: #e1e8f5;
--dusky-sky-ds90: #f0f4fa;
--midnight-sky-ms-90: #0b0e15;
--midnight-sky-ms-80: #151c29;
--midnight-sky-ms-70: #202a3e;
--midnight-sky-ms-60: #2a3853;
--midnight-sky-ms-50: #354768;
--midnight-sky-ms-40: #40557c;
--midnight-sky-ms-30: #4a6391;
--midnight-sky-ms-20: #5571a6;
--midnight-sky-ms-10: #5f7fba;
--midnight-sky-ms-00: #6a8dcf;
--midnight-sky-ms10: #7998d4;
--midnight-sky-ms20: #88a4d9;
--midnight-sky-ms30: #97afdd;
--midnight-sky-ms40: #a6bbe2;
--midnight-sky-ms50: #b4c6e7;
--midnight-sky-ms60: #c3d1ec;
--midnight-sky-ms70: #d2ddf1;
--midnight-sky-ms80: #e1e8f5;
--midnight-sky-ms90: #f0f4fa;
--soft-purple-sp-90: #16161a;
--soft-purple-sp-80: #2b2c33;
--soft-purple-sp-70: #41424d;
--soft-purple-sp-60: #565866;
--soft-purple-sp-50: #6c6e80;
--soft-purple-sp-40: #818399;
--soft-purple-sp-30: #9699b2;
--soft-purple-sp-20: #acafcc;
--soft-purple-sp-10: #c1c5e5;
--soft-purple-sp-00: #d7dbff;
--soft-purple-sp10: #dbdfff;
--soft-purple-sp20: #dfe2ff;
--soft-purple-sp30: #e3e6ff;
--soft-purple-sp40: #e7e9ff;
--soft-purple-sp50: #ebedff;
--soft-purple-sp60: #eff1ff;
--soft-purple-sp70: #f3f4ff;
--soft-purple-sp80: #f7f8ff;
--soft-purple-sp90: #fbfbff;
--lavender-purple-lp-90: #101016;
--lavender-purple-lp-80: #21202c;
--lavender-purple-lp-70: #313142;
--lavender-purple-lp-60: #414158;
--lavender-purple-lp-50: #52516f;
--lavender-purple-lp-40: #626185;
--lavender-purple-lp-30: #72719b;
--lavender-purple-lp-20: #8282b1;
--lavender-purple-lp-10: #9392c7;
--lavender-purple-lp-00: #a3a2dd;
--lavender-purple-lp10: #acabe0;
--lavender-purple-lp20: #b5b5e4;
--lavender-purple-lp30: #bfbee7;
--lavender-purple-lp40: #c8c7eb;
--lavender-purple-lp50: #d1d1ee;
--lavender-purple-lp60: #dadaf1;
--lavender-purple-lp70: #e3e3f5;
--lavender-purple-lp80: #edecf8;
--lavender-purple-lp90: #f6f6fc;
--orchid-purple-op-90: #0c0c13;
--orchid-purple-op-80: #191825;
--orchid-purple-op-70: #252538;
--orchid-purple-op-60: #31314a;
--orchid-purple-op-50: #3e3d5d;
--orchid-purple-op-40: #4a496f;
--orchid-purple-op-30: #565581;
--orchid-purple-op-20: #626294;
--orchid-purple-op-10: #6f6ea6;
--orchid-purple-op-00: #7b7ab9;
--orchid-purple-op10: #8887c0;
--orchid-purple-op20: #9595c7;
--orchid-purple-op30: #a3a2ce;
--orchid-purple-op40: #b0afd5;
--orchid-purple-op50: #bdbcdc;
--orchid-purple-op60: #cacae3;
--orchid-purple-op70: #d7d7ea;
--orchid-purple-op80: #e5e4f1;
--orchid-purple-op90: #f2f2f8;
--black-white: #000000;
}
