:root {
--global-neutral--90: var(--gray-gy-90);
--global-neutral--80: var(--gray-gy-80);
--global-neutral--70: var(--gray-gy-70);
--global-neutral--60: var(--gray-gy-60);
--global-neutral--50: var(--gray-gy-50);
--global-neutral--40: var(--gray-gy-40);
--global-neutral--30: var(--gray-gy-30);
--global-neutral--20: var(--gray-gy-20);
--global-neutral--10: var(--gray-gy-10);
--global-neutral-00: var(--gray-gy-00);
--global-neutral-10: var(--gray-gy10);
--global-neutral-20: var(--gray-gy20);
--global-neutral-30: var(--gray-gy30);
--global-neutral-40: var(--gray-gy40);
--global-neutral-50: var(--gray-gy50);
--global-neutral-60: var(--gray-gy60);
--global-neutral-70: var(--gray-gy70);
--global-neutral-80: var(--gray-gy80);
--global-neutral-90: var(--gray-gy90);
--global-neutral--95: var(--gray-gy-95);
--global-neutral-95: var(--gray-gy95);
--global-white: var(--white-white);
--global-black: var(--gray-gy-95);
--system-success--90: var(--green-gn-90);
--system-success--80: var(--green-gn-80);
--system-success--70: var(--green-gn-70);
--system-success--60: var(--green-gn-60);
--system-success--50: var(--green-gn-50);
--system-success--40: var(--green-gn-40);
--system-success--30: var(--green-gn-30);
--system-success--20: var(--green-gn-20);
--system-success--10: var(--green-gn-10);
--system-success-00: var(--green-gn-00);
--system-success-10: var(--green-gn10);
--system-success-20: var(--green-gn20);
--system-success-30: var(--green-gn30);
--system-success-40: var(--green-gn40);
--system-success-50: var(--green-gn50);
--system-success-60: var(--green-gn60);
--system-success-70: var(--green-gn70);
--system-success-80: var(--green-gn80);
--system-success-90: var(--green-gn90);
--system-error--90: var(--red-rd-90);
--system-error--80: var(--red-rd-80);
--system-error--70: var(--red-rd-70);
--system-error--60: var(--red-rd-60);
--system-error--50: var(--red-rd-50);
--system-error--40: var(--red-rd-40);
--system-error--30: var(--red-rd-30);
--system-error--20: var(--red-rd-20);
--system-error--10: var(--red-rd-10);
--system-error-00: var(--red-rd-00);
--system-error-10: var(--red-rd10);
--system-error-20: var(--red-rd20);
--system-error-30: var(--red-rd30);
--system-error-40: var(--red-rd40);
--system-error-50: var(--red-rd50);
--system-error-60: var(--red-rd60);
--system-error-70: var(--red-rd70);
--system-error-80: var(--red-rd80);
--system-error-90: var(--red-rd90);
--system-warning--90: var(--refreshing-orange-ro-90);
--system-warning--80: var(--refreshing-orange-ro-80);
--system-warning--70: var(--refreshing-orange-ro-70);
--system-warning--60: var(--refreshing-orange-ro-60);
--system-warning--50: var(--refreshing-orange-ro-50);
--system-warning--40: var(--refreshing-orange-ro-40);
--system-warning--30: var(--refreshing-orange-ro-30);
--system-warning--20: var(--refreshing-orange-ro-20);
--system-warning--10: var(--refreshing-orange-ro-10);
--system-warning-00: var(--refreshing-orange-ro-00);
--system-warning-10: var(--refreshing-orange-ro10);
--system-warning-20: var(--refreshing-orange-ro20);
--system-warning-30: var(--refreshing-orange-ro30);
--system-warning-40: var(--refreshing-orange-ro40);
--system-warning-50: var(--refreshing-orange-ro50);
--system-warning-60: var(--refreshing-orange-ro60);
--system-warning-70: var(--refreshing-orange-ro70);
--system-warning-80: var(--refreshing-orange-ro80);
--system-warning-90: var(--refreshing-orange-ro90);
--system-info--90: var(--blue-be-90);
--system-info--80: var(--blue-be-80);
--system-info--70: var(--blue-be-70);
--system-info--60: var(--blue-be-60);
--system-info--50: var(--blue-be-50);
--system-info--40: var(--blue-be-40);
--system-info--30: var(--blue-be-30);
--system-info--20: var(--blue-be-20);
--system-info--10: var(--blue-be-10);
--system-info-00: var(--blue-be-00);
--system-info-10: var(--blue-be10);
--system-info-20: var(--blue-be20);
--system-info-30: var(--blue-be30);
--system-info-40: var(--blue-be40);
--system-info-50: var(--blue-be50);
--system-info-60: var(--blue-be60);
--system-info-70: var(--blue-be70);
--system-info-80: var(--blue-be80);
--system-info-90: var(--blue-be90);
--brand-m-primary--90: var(--special-green-sg-90);
--brand-m-primary--80: var(--special-green-sg-80);
--brand-m-primary--70: var(--special-green-sg-70);
--brand-m-primary--60: var(--special-green-sg-60);
--brand-m-primary--50: var(--special-green-sg-50);
--brand-m-primary--40: var(--special-green-sg-40);
--brand-m-primary--30: var(--special-green-sg-30);
--brand-m-primary--20: var(--special-green-sg-20);
--brand-m-primary--10: var(--special-green-sg-10);
--brand-m-primary-00: var(--special-green-sg-00);
--brand-m-primary-10: var(--special-green-sg10);
--brand-m-primary-20: var(--special-green-sg20);
--brand-m-primary-30: var(--special-green-sg30);
--brand-m-primary-40: var(--special-green-sg40);
--brand-m-primary-50: var(--special-green-sg50);
--brand-m-primary-60: var(--special-green-sg60);
--brand-m-primary-70: var(--special-green-sg70);
--brand-m-primary-80: var(--special-green-sg80);
--brand-m-primary-90: var(--special-green-sg90);
--brand-m-secondary--90: var(--global-utility-dark-pink--90);
--brand-m-secondary--80: var(--global-utility-dark-pink--80);
--brand-m-secondary--70: var(--global-utility-dark-pink--70);
--brand-m-secondary--60: var(--global-utility-dark-pink--60);
--brand-m-secondary--50: var(--global-utility-dark-pink--50);
--brand-m-secondary--40: var(--global-utility-dark-pink--40);
--brand-m-secondary--30: var(--global-utility-dark-pink--30);
--brand-m-secondary--20: var(--global-utility-dark-pink--20);
--brand-m-secondary--10: var(--global-utility-dark-pink--10);
--brand-m-secondary-00: var(--global-utility-dark-pink-00);
--brand-m-secondary-10: var(--global-utility-dark-pink-10);
--brand-m-secondary-20: var(--global-utility-dark-pink-20);
--brand-m-secondary-30: var(--global-utility-dark-pink-30);
--brand-m-secondary-40: var(--global-utility-dark-pink-40);
--brand-m-secondary-50: var(--global-utility-dark-pink-50);
--brand-m-secondary-60: var(--global-utility-dark-pink-60);
--brand-m-secondary-70: var(--global-utility-dark-pink-70);
--brand-m-secondary-80: var(--global-utility-dark-pink-80);
--brand-m-secondary-90: var(--global-utility-dark-pink-90);
--brand-cm-primary-rb-00: var(--royal-blue-rb-00);
--brand-cm-secondary-sm90: var(--sky-mist-sm90);
--brand-cm-secondary-sm-00: var(--sky-mist-sm-00);
--brand-cm-secondary-ds-00: var(--dusky-sky-ds-00);
--brand-cm-secondary-ms-00: var(--midnight-sky-ms-00);
--brand-cm-tertiary-sp-00: var(--soft-purple-sp-00);
--brand-cm-tertiary-lp-00: var(--lavender-purple-lp-00);
--brand-cm-tertiary-op-00: var(--orchid-purple-op-00);
--brand-cm-tertiary-op-30: var(--orchid-purple-op-30);
---template-tn-tn-90: var(--white-white);
---template-tn-tn-80: var(--white-white);
---template-tn-tn-70: var(--white-white);
---template-tn-tn-60: var(--white-white);
---template-tn-tn-50: var(--white-white);
---template-tn-tn-40: var(--white-white);
---template-tn-tn-30: var(--white-white);
---template-tn-tn-20: var(--white-white);
---template-tn-tn-10: var(--white-white);
---template-tn-tn-00: var(--white-white);
---template-tn-tn10: var(--white-white);
---template-tn-tn20: var(--white-white);
---template-tn-tn30: var(--white-white);
---template-tn-tn40: var(--white-white);
---template-tn-tn50: var(--white-white);
---template-tn-tn60: var(--white-white);
---template-tn-tn70: var(--white-white);
---template-tn-tn80: var(--white-white);
---template-tn-tn90: var(--white-white);
--brand-m-tertiary--90: var(--purple-pp-90);
--brand-m-tertiary--80: var(--purple-pp-80);
--brand-m-tertiary--70: var(--purple-pp-70);
--brand-m-tertiary--60: var(--purple-pp-60);
--brand-m-tertiary--50: var(--purple-pp-50);
--brand-m-tertiary--40: var(--purple-pp-40);
--brand-m-tertiary--30: var(--purple-pp-30);
--brand-m-tertiary--20: var(--purple-pp-20);
--brand-m-tertiary--10: var(--purple-pp-10);
--brand-m-tertiary-00: var(--purple-pp-00);
--brand-m-tertiary-10: var(--purple-pp10);
--brand-m-tertiary-20: var(--purple-pp20);
--brand-m-tertiary-30: var(--purple-pp30);
--brand-m-tertiary-40: var(--purple-pp40);
--brand-m-tertiary-50: var(--purple-pp50);
--brand-m-tertiary-60: var(--purple-pp60);
--brand-m-tertiary-70: var(--purple-pp70);
--brand-m-tertiary-80: var(--purple-pp80);
--brand-m-tertiary-90: var(--purple-pp90);
--global-transparency-white-0: var(--alpha-white-0);
--global-transparency-white-1: var(--alpha-white-1);
--global-transparency-white-2: var(--alpha-white-2);
--global-transparency-white-3: var(--alpha-white-3);
--global-transparency-white-4: var(--alpha-white-4);
--global-transparency-white-5: var(--alpha-white-5);
--global-transparency-white-6: var(--alpha-white-6);
--global-transparency-white-7: var(--alpha-white-7);
--global-transparency-white-8: var(--alpha-white-8);
--global-transparency-white-9: var(--alpha-white-9);
--global-transparency-black-0: var(--alpha-black-0);
--global-transparency-black-1: var(--alpha-black-1);
--global-transparency-black-2: var(--alpha-black-2);
--global-transparency-black-3: var(--alpha-black-3);
--global-transparency-black-4: var(--alpha-black-4);
--global-transparency-black-5: var(--alpha-black-5);
--global-transparency-black-6: var(--alpha-black-6);
--global-transparency-black-7: var(--alpha-black-7);
--global-transparency-black-8: var(--alpha-black-8);
--global-transparency-black-9: var(--alpha-black-9);
--brand-cm-primary-ob-00: var(--ocean-blue-ob-00);
--brand-cm-primary-db-00: var(--deep-blue-db-00);
--brand-cm-primary-db-30: var(--deep-blue-db-30);
--global-utility-dark-orange--90: var(--dark-orange-do-90);
--global-utility-dark-orange--80: var(--dark-orange-do-80);
--global-utility-dark-orange--70: var(--dark-orange-do-70);
--global-utility-dark-orange--60: var(--dark-orange-do-60);
--global-utility-dark-orange--50: var(--dark-orange-do-50);
--global-utility-dark-orange--40: var(--dark-orange-do-40);
--global-utility-dark-orange--30: var(--dark-orange-do-30);
--global-utility-dark-orange--20: var(--dark-orange-do-20);
--global-utility-dark-orange--10: var(--dark-orange-do-10);
--global-utility-dark-orange-00: var(--dark-orange-do-00);
--global-utility-dark-orange-10: var(--dark-orange-do10);
--global-utility-dark-orange-20: var(--dark-orange-do20);
--global-utility-dark-orange-30: var(--dark-orange-do30);
--global-utility-dark-orange-40: var(--dark-orange-do40);
--global-utility-dark-orange-50: var(--dark-orange-do50);
--global-utility-dark-orange-60: var(--dark-orange-do60);
--global-utility-dark-orange-70: var(--dark-orange-do70);
--global-utility-dark-orange-80: var(--dark-orange-do80);
--global-utility-dark-orange-90: var(--dark-orange-do90);
--global-base-white: var(--white-white);
--global-base-black: var(--black-white);
--global-utility-dark-pink--90: var(--dark-pink-dp-90);
--global-utility-dark-pink--80: var(--dark-pink-dp-80);
--global-utility-dark-pink--70: var(--dark-pink-dp-70);
--global-utility-dark-pink--60: var(--dark-pink-dp-60);
--global-utility-dark-pink--50: var(--dark-pink-dp-50);
--global-utility-dark-pink--40: var(--dark-pink-dp-40);
--global-utility-dark-pink--30: var(--dark-pink-dp-30);
--global-utility-dark-pink--20: var(--dark-pink-dp-20);
--global-utility-dark-pink--10: var(--dark-pink-dp-10);
--global-utility-dark-pink-00: var(--dark-pink-dp-00);
--global-utility-dark-pink-10: var(--dark-pink-dp10);
--global-utility-dark-pink-20: var(--dark-pink-dp20);
--global-utility-dark-pink-30: var(--dark-pink-dp30);
--global-utility-dark-pink-40: var(--dark-pink-dp40);
--global-utility-dark-pink-50: var(--dark-pink-dp50);
--global-utility-dark-pink-60: var(--dark-pink-dp60);
--global-utility-dark-pink-70: var(--dark-pink-dp70);
--global-utility-dark-pink-80: var(--dark-pink-dp80);
--global-utility-dark-pink-90: var(--dark-pink-dp90);
--global-utility-confident-blue--90: var(--confident-blue-cb-90);
--global-utility-confident-blue--80: var(--confident-blue-cb-80);
--global-utility-confident-blue--70: var(--confident-blue-cb-70);
--global-utility-confident-blue--60: var(--confident-blue-cb-60);
--global-utility-confident-blue--50: var(--confident-blue-cb-50);
--global-utility-confident-blue--40: var(--confident-blue-cb-40);
--global-utility-confident-blue--30: var(--confident-blue-cb-30);
--global-utility-confident-blue--20: var(--confident-blue-cb-20);
--global-utility-confident-blue--10: var(--confident-blue-cb-10);
--global-utility-confident-blue-00: var(--confident-blue-cb-00);
--global-utility-confident-blue-10: var(--confident-blue-cb10);
--global-utility-confident-blue-20: var(--confident-blue-cb20);
--global-utility-confident-blue-30: var(--confident-blue-cb30);
--global-utility-confident-blue-40: var(--confident-blue-cb40);
--global-utility-confident-blue-50: var(--confident-blue-cb50);
--global-utility-confident-blue-60: var(--confident-blue-cb60);
--global-utility-confident-blue-70: var(--confident-blue-cb70);
--global-utility-confident-blue-80: var(--confident-blue-cb80);
--global-utility-confident-blue-90: var(--confident-blue-cb90);
--global-utility-trusted-navy--90: var(--trusted-navy-tn-90);
--global-utility-trusted-navy--80: var(--trusted-navy-tn-80);
--global-utility-trusted-navy--70: var(--trusted-navy-tn-70);
--global-utility-trusted-navy--60: var(--trusted-navy-tn-60);
--global-utility-trusted-navy--50: var(--trusted-navy-tn-50);
--global-utility-trusted-navy--40: var(--trusted-navy-tn-40);
--global-utility-trusted-navy--30: var(--trusted-navy-tn-30);
--global-utility-trusted-navy--20: var(--trusted-navy-tn-20);
--global-utility-trusted-navy--10: var(--trusted-navy-tn-10);
--global-utility-trusted-navy-00: var(--trusted-navy-tn-00);
--global-utility-trusted-navy-10: var(--trusted-navy-tn10);
--global-utility-trusted-navy-20: var(--trusted-navy-tn20);
--global-utility-trusted-navy-30: var(--trusted-navy-tn30);
--global-utility-trusted-navy-40: var(--trusted-navy-tn40);
--global-utility-trusted-navy-50: var(--trusted-navy-tn50);
--global-utility-trusted-navy-60: var(--trusted-navy-tn60);
--global-utility-trusted-navy-70: var(--trusted-navy-tn70);
--global-utility-trusted-navy-80: var(--trusted-navy-tn80);
--global-utility-trusted-navy-90: var(--trusted-navy-tn90);
--global-utility-refreshing-green--90: var(--refreshing-green-rg-90);
--global-utility-refreshing-green--80: var(--refreshing-green-rg-80);
--global-utility-refreshing-green--70: var(--refreshing-green-rg-70);
--global-utility-refreshing-green--60: var(--refreshing-green-rg-60);
--global-utility-refreshing-green--50: var(--refreshing-green-rg-50);
--global-utility-refreshing-green--40: var(--refreshing-green-rg-40);
--global-utility-refreshing-green--30: var(--refreshing-green-rg-30);
--global-utility-refreshing-green--20: var(--refreshing-green-rg-20);
--global-utility-refreshing-green--10: var(--refreshing-green-rg-10);
--global-utility-refreshing-green-00: var(--refreshing-green-rg-00);
--global-utility-refreshing-green-10: var(--refreshing-green-rg10);
--global-utility-refreshing-green-20: var(--refreshing-green-rg20);
--global-utility-refreshing-green-30: var(--refreshing-green-rg30);
--global-utility-refreshing-green-40: var(--refreshing-green-rg40);
--global-utility-refreshing-green-50: var(--refreshing-green-rg50);
--global-utility-refreshing-green-60: var(--refreshing-green-rg60);
--global-utility-refreshing-green-70: var(--refreshing-green-rg70);
--global-utility-refreshing-green-80: var(--refreshing-green-rg80);
--global-utility-refreshing-green-90: var(--refreshing-green-rg90);
--global-utility-refreshing-orange--90: var(--refreshing-orange-ro-90);
--global-utility-refreshing-orange--80: var(--refreshing-orange-ro-80);
--global-utility-refreshing-orange--70: var(--refreshing-orange-ro-70);
--global-utility-refreshing-orange--60: var(--refreshing-orange-ro-60);
--global-utility-refreshing-orange--50: var(--refreshing-orange-ro-50);
--global-utility-refreshing-orange--40: var(--refreshing-orange-ro-40);
--global-utility-refreshing-orange--30: var(--refreshing-orange-ro-30);
--global-utility-refreshing-orange--20: var(--refreshing-orange-ro-20);
--global-utility-refreshing-orange--10: var(--refreshing-orange-ro-10);
--global-utility-refreshing-orange-00: var(--refreshing-orange-ro-00);
--global-utility-refreshing-orange-10: var(--refreshing-orange-ro10);
--global-utility-refreshing-orange-20: var(--refreshing-orange-ro20);
--global-utility-refreshing-orange-30: var(--refreshing-orange-ro30);
--global-utility-refreshing-orange-40: var(--refreshing-orange-ro40);
--global-utility-refreshing-orange-50: var(--refreshing-orange-ro50);
--global-utility-refreshing-orange-60: var(--refreshing-orange-ro60);
--global-utility-refreshing-orange-70: var(--refreshing-orange-ro70);
--global-utility-refreshing-orange-80: var(--refreshing-orange-ro80);
--global-utility-refreshing-orange-90: var(--refreshing-orange-ro90);
--global-utility-lavender-purple--90: var(--lavender-purple-lp-90);
--global-utility-lavender-purple--80: var(--lavender-purple-lp-80);
--global-utility-lavender-purple--70: var(--lavender-purple-lp-70);
--global-utility-lavender-purple--60: var(--lavender-purple-lp-60);
--global-utility-lavender-purple--50: var(--lavender-purple-lp-50);
--global-utility-lavender-purple--40: var(--lavender-purple-lp-40);
--global-utility-lavender-purple--30: var(--lavender-purple-lp-30);
--global-utility-lavender-purple--20: var(--lavender-purple-lp-20);
--global-utility-lavender-purple--10: var(--lavender-purple-lp-10);
--global-utility-lavender-purple-00: var(--lavender-purple-lp-00);
--global-utility-lavender-purple-10: var(--lavender-purple-lp10);
--global-utility-lavender-purple-20: var(--lavender-purple-lp20);
--global-utility-lavender-purple-30: var(--lavender-purple-lp30);
--global-utility-lavender-purple-40: var(--lavender-purple-lp40);
--global-utility-lavender-purple-50: var(--lavender-purple-lp50);
--global-utility-lavender-purple-60: var(--lavender-purple-lp60);
--global-utility-lavender-purple-70: var(--lavender-purple-lp70);
--global-utility-lavender-purple-80: var(--lavender-purple-lp80);
--global-utility-lavender-purple-90: var(--lavender-purple-lp90);
}
