:root {
--text-primary: var(--global-neutral--80);
--component-button-primary-brand-text: var(--global-base-white);
--background-primary: var(--global-base-white);
--border-tertiary: var(--global-neutral-40);
--component-gradient-brand-00: var(--brand-m-primary-00);
--component-utility-neutral-utilily-neutral-95: var(--global-neutral--95);
--background-primary-hover: var(--global-neutral-95);
--text-primary-hover: var(--global-neutral--95);
--text-secondary: var(--global-neutral--40);
--text-secondary-hover: var(--global-neutral--60);
--text-secondary-hover-alt: var(--brand-m-primary-00);
--text-tertiary: var(--global-neutral--20);
--text-tertiary-hover: var(--global-neutral--40);
--text-quaternary: var(--global-neutral-00);
--text-quaternary-hover: var(--global-neutral--20);
--text-quinary: var(--global-neutral-20);
--text-brand-default: var(--brand-m-primary-00);
--text-quinary-hover: var(--global-neutral-00);
--text-placeholder: var(--global-neutral-40);
--text-placeholder-subtle: var(--global-neutral-60);
--text-disabled: var(--global-neutral-60);
--text-disabled-subtle: var(--global-neutral-80);
--text-brand-subtle: var(--brand-m-primary-80);
--text-brand-lighter: var(--brand-m-primary-40);
--text-brand-darker: var(--brand-m-primary--40);
--text-success-default: var(--system-success-00);
--text-success-subtle: var(--system-success-80);
--text-success-lighter: var(--system-success-40);
--text-success-darker: var(--system-success--40);
--text-warning-default: var(--system-warning-00);
--text-warning-subtle: var(--system-warning-80);
--text-warning-lighter: var(--system-warning-40);
--text-warning-darker: var(--system-warning--40);
--text-error-default: var(--system-error-00);
--text-error-subtle: var(--system-error-80);
--text-error-lighter: var(--system-error-40);
--text-error-darker: var(--system-error--40);
--text-info-default: var(--system-info-00);
--text-info-subtle: var(--system-info-80);
--text-info-lighter: var(--system-info-40);
--text-info-darker: var(--system-info--40);
--background-primary-hover-alt: var(--brand-m-primary-90);
--background-secondary: var(--global-neutral-95);
--background-secondary-hover: var(--global-neutral-90);
--background-tertiary: var(--global-neutral-80);
--background-tertiary-hover: var(--global-neutral-60);
--background-quaternary: var(--global-neutral-60);
--background-quaternary-hover: var(--global-neutral-40);
--background-brand-default: var(--brand-m-primary-00);
--background-brand-subtle: var(--brand-m-primary-90);
--background-brand-lighter: var(--brand-m-primary-40);
--background-brand-darker: var(--brand-m-primary--40);
--background-success-default: var(--system-success-00);
--background-success-subtle: var(--system-success-90);
--background-success-lighter: var(--system-success-40);
--background-success-darker: var(--system-success--40);
--background-warning-default: var(--system-warning-00);
--background-warning-subtle: var(--system-warning-90);
--background-warning-lighter: var(--system-warning-40);
--background-warning-darker: var(--system-warning--40);
--background-error-default: var(--system-error-00);
--background-error-subtle: var(--system-error-90);
--background-error-lighter: var(--system-error-40);
--background-error-darker: var(--system-error--40);
--background-info-default: var(--system-info-00);
--background-info-subtle: var(--system-info-90);
--background-info-lighter: var(--system-info-40);
--background-info-darker: var(--system-info--40);
--border-secondary: var(--global-neutral-60);
--border-primary: var(--global-neutral-80);
--border-disabled: var(--global-neutral-90);
--border-disabled-subtle: var(--global-neutral-95);
--border-brand-default: var(--brand-m-primary-00);
--border-brand-subtle: var(--brand-m-primary-80);
--border-brand-lighter: var(--brand-m-primary-60);
--border-brand-darker: var(--brand-m-primary--40);
--border-success-default: var(--system-success-00);
--border-success-subtle: var(--system-success-80);
--border-success-lighter: var(--system-success-60);
--border-success-darker: var(--system-success--40);
--border-warning-default: var(--system-warning-00);
--border-warning-subtle: var(--system-warning-80);
--border-warning-lighter: var(--system-warning-60);
--border-warning-darker: var(--system-warning--40);
--border-info-default: var(--system-info-00);
--border-info-subtle: var(--system-info-80);
--border-info-lighter: var(--system-info-60);
--border-info-darker: var(--system-info--40);
--border-error-default: var(--system-error-00);
--border-error-subtle: var(--system-error-80);
--border-error-lighter: var(--system-error-60);
--border-error-darker: var(--system-error--40);
--icon-primary: var(--global-neutral--80);
--icon-primary-hover: var(--global-neutral--95);
--icon-secondary: var(--global-neutral--40);
--icon-secondary-hover: var(--global-neutral--60);
--icon-secondary-hover-alt: var(--brand-m-primary-00);
--icon-tertiary: var(--global-neutral--20);
--icon-tertiary-hover: var(--global-neutral--40);
--icon-quaternary: var(--global-neutral-00);
--icon-quaternary-hover: var(--global-neutral--40);
--icon-quinary: var(--global-neutral-20);
--icon-quinary-hover: var(--global-neutral--20);
--icon-placeholder-darker: var(--global-neutral-20);
--icon-placeholder-subtle: var(--global-neutral-60);
--icon-disabled: var(--global-neutral-60);
--icon-disabled-subtle: var(--global-neutral-80);
--icon-brand-default: var(--brand-m-primary-00);
--icon-brand-subtle: var(--brand-m-primary-80);
--icon-brand-lighter: var(--brand-m-primary-40);
--icon-brand-darker: var(--brand-m-primary--40);
--icon-success-default: var(--system-success-00);
--icon-success-subtle: var(--system-success-80);
--icon-success-lighter: var(--system-success-40);
--icon-success-darker: var(--system-success--40);
--icon-warning-default: var(--system-warning-00);
--icon-warning-subtle: var(--system-warning-80);
--icon-warning-lighter: var(--system-warning-40);
--icon-warning-darker: var(--system-warning--40);
--icon-error-default: var(--system-error-00);
--icon-error-subtle: var(--system-error-80);
--icon-error-lighter: var(--system-error-40);
--icon-error-darker: var(--system-error--40);
--icon-info-default: var(--system-info-00);
--icon-info-subtle: var(--system-info-80);
--icon-info-lighter: var(--system-info-40);
--icon-info-darker: var(--system-info--40);
--component-gradient-brand--20: var(--brand-m-primary--20);
--component-gradient-brand--40: var(--brand-m-primary--40);
--component-gradient-brand-20: var(--brand-m-primary-20);
--component-gradient-brand-40: var(--brand-m-primary-40);
--foreground-primary: var(--global-neutral--80);
--foreground-primary-hover: var(--global-neutral--95);
--foreground-secondary: var(--global-neutral--40);
--foreground-secondary-hover: var(--global-neutral--60);
--foreground-secondary-hover-alt: var(--brand-m-primary-00);
--foreground-tertiary: var(--global-neutral--20);
--foreground-tertiary-hover: var(--global-neutral--40);
--foreground-quaternary: var(--global-neutral-00);
--foreground-quaternary-hover: var(--global-neutral--20);
--foreground-quinary: var(--global-neutral-20);
--foreground-quinary-hover: var(--global-neutral-00);
--foreground-disabled: var(--global-neutral-60);
--foreground-disabled-subtle: var(--global-neutral-80);
--foreground-brand-primary-default: var(--brand-m-primary-00);
--foreground-brand-primary-subtle: var(--brand-m-primary-80);
--foreground-brand-primary-lighter: var(--brand-m-primary-40);
--foreground-brand-primary-darker: var(--brand-m-primary--40);
--foreground-success-default: var(--system-success-00);
--foreground-success-subtle: var(--system-success-80);
--foreground-success-lighter: var(--system-success-40);
--foreground-success-darker: var(--system-success--40);
--foreground-warning-default: var(--system-warning-00);
--foreground-warning-subtle: var(--system-warning-80);
--foreground-warning-lighter: var(--system-warning-40);
--foreground-warning-darker: var(--system-warning--40);
--foreground-error-default: var(--system-error-00);
--foreground-error-subtle: var(--system-error-80);
--foreground-error-lighter: var(--system-error-40);
--foreground-error-darker: var(--system-error--40);
--foreground-info-default: var(--system-info-00);
--foreground-info-subtle: var(--system-info-80);
--foreground-info-lighter: var(--system-info-40);
--foreground-info-darker: var(--system-info--40);
--foreground-senary: var(--global-neutral-40);
--foreground-brand-secondary-default: var(--brand-m-secondary-00);
--foreground-brand-secondary-subtle: var(--brand-m-secondary-80);
--foreground-brand-secondary-lighter: var(--brand-m-secondary-40);
--foreground-brand-secondary-darker: var(--brand-m-secondary--40);
--foreground-brand-tertiary-default: var(--brand-m-tertiary-00);
--foreground-brand-tertiary-subtle: var(--brand-m-tertiary-80);
--foreground-brand-tertiary-lighter: var(--brand-m-tertiary-40);
--foreground-brand-tertiary-darker: var(--brand-m-tertiary--40);
--component-utility-neutral-utilily-neutral-00: var(--global-neutral-00);
--component-utility-neutral-utilily-neutral-10: var(--global-neutral--10);
--component-utility-neutral-utilily-neutral-90: var(--global-neutral--90);
--component-utility-neutral-utilily-neutral-80: var(--global-neutral--80);
--component-utility-neutral-utilily-neutral-70: var(--global-neutral--70);
--component-utility-neutral-utilily-neutral-60: var(--global-neutral--60);
--component-utility-neutral-utilily-neutral-50: var(--global-neutral--50);
--component-utility-neutral-utilily-neutral-40: var(--global-neutral--40);
--component-utility-neutral-utilily-neutral-30: var(--global-neutral--30);
--component-utility-neutral-utilily-neutral-20: var(--global-neutral--20);
--component-utility-neutral-utilily-neutral10: var(--global-neutral-10);
--component-utility-neutral-utilily-neutral20: var(--global-neutral-20);
--component-utility-neutral-utilily-neutral30: var(--global-neutral-30);
--component-utility-neutral-utilily-neutral40: var(--global-neutral-40);
--component-utility-neutral-utilily-neutral50: var(--global-neutral-50);
--component-utility-neutral-utilily-neutral60: var(--global-neutral-60);
--component-utility-neutral-utilily-neutral70: var(--global-neutral-70);
--component-utility-neutral-utilily-neutral80: var(--global-neutral-80);
--component-utility-neutral-utilily-neutral90: var(--global-neutral-90);
--component-utility-neutral-utilily-neutral95: var(--global-neutral-95);
--component-button-primary-brand-icon: var(--global-base-white);
--component-button-primary-brand-background: var(--brand-m-primary-00);
--component-button-primary-brand-border: var(--brand-m-primary-00);
--text-white: var(--global-base-white);
--icon-white: var(--global-base-white);
--foreground-white: var(--global-base-white);
--component-button-primary-brand-text-hover: var(--brand-m-primary-90);
--component-button-primary-brand-icon-hover: var(--brand-m-primary-90);
--component-button-primary-brand-border-hover: var(--brand-m-primary--20);
--component-button-primary-brand-background-hover: var(--brand-m-primary--20);
--component-button-primary-neutral-text: var(--global-base-white);
--component-button-primary-neutral-text-hover: var(--global-neutral-90);
--component-button-primary-neutral-icon: var(--global-base-white);
--component-button-primary-neutral-icon-hover: var(--global-neutral-90);
--component-button-primary-neutral-border: var(--global-neutral--60);
--component-button-primary-neutral-border-hover: var(--global-neutral--80);
--component-button-primary-neutral-background: var(--global-neutral--60);
--component-button-primary-neutral-background-hover: var(--global-neutral--80);
--component-button-primary-error-text: var(--global-base-white);
--component-button-primary-error-text-hover: var(--system-error-90);
--component-button-primary-error-icon: var(--global-base-white);
--component-button-primary-error-icon-hover: var(--system-error-90);
--component-button-primary-error-border: var(--system-error-00);
--component-button-primary-error-border-hover: var(--system-error--20);
--component-button-primary-error-background: var(--system-error-00);
--component-button-primary-error-background-hover: var(--system-error--20);
--component-button-secondary-brand-text: var(--brand-m-primary--20);
--component-button-secondary-brand-text-hover: var(--brand-m-primary--40);
--component-button-secondary-brand-icon: var(--brand-m-primary--20);
--component-button-secondary-brand-icon-hover: var(--brand-m-primary--40);
--component-button-secondary-brand-border: var(--brand-m-primary-00);
--component-button-secondary-brand-border-hover: var(--brand-m-primary--20);
--component-button-secondary-neutral-text: var(--global-neutral--40);
--component-button-secondary-neutral-text-hover: var(--global-neutral--60);
--component-button-secondary-neutral-icon: var(--global-neutral--40);
--component-button-secondary-neutral-icon-hover: var(--global-neutral--60);
--component-button-secondary-neutral-border: var(--global-neutral-80);
--component-button-secondary-neutral-border-hover: var(--global-neutral-60);
--component-button-secondary-error-text: var(--system-error-00);
--component-button-secondary-error-text-hover: var(--system-error--20);
--component-button-secondary-error-icon: var(--system-error-00);
--component-button-secondary-error-icon-hover: var(--system-error--20);
--component-button-secondary-error-border: var(--system-error-00);
--component-button-secondary-error-border-hover: var(--system-error--20);
--component-button-tertiary-brand-text: var(--brand-m-primary--20);
--component-button-tertiary-brand-text-hover: var(--brand-m-primary--40);
--component-button-tertiary-brand-icon: var(--brand-m-primary--20);
--component-button-tertiary-brand-icon-hover: var(--brand-m-primary--40);
--component-button-tertiary-brand-background: var(--global-transparency-white-0);
--component-button-tertiary-neutal-text: var(--global-neutral--60);
--component-button-tertiary-neutal-text-hover: var(--global-neutral--80);
--component-button-tertiary-neutal-icon: var(--global-neutral--60);
--component-button-tertiary-neutal-icon-hover: var(--global-neutral--80);
--component-button-tertiary-neutal-background: var(--global-transparency-white-0);
--component-button-tertiary-error-text: var(--system-error-00);
--component-button-tertiary-error-text-hover: var(--system-error--20);
--component-button-tertiary-error-icon: var(--system-error-00);
--component-button-tertiary-error-icon-hover: var(--system-error--20);
--component-button-tertiary-error-background: var(--global-transparency-white-0);
--component-button-primary-brand-text-disbled: var(--global-neutral-40);
--component-button-primary-brand-icon-disbled: var(--global-neutral-40);
--component-button-primary-brand-border-disbled: var(--global-neutral-95);
--component-button-primary-brand-background-disbled: var(--global-neutral-90);
--component-button-primary-neutral-text-disbled: var(--global-neutral-40);
--component-button-primary-error-text-disbled: var(--global-neutral-40);
--component-button-primary-neutral-icon-disbled: var(--global-neutral-40);
--component-button-primary-error-icon-disbled: var(--global-neutral-40);
--component-button-primary-neutral-border-disbled: var(--global-neutral-95);
--component-button-primary-error-border-disbled: var(--global-neutral-95);
--component-button-primary-neutral-background-disbled: var(--global-neutral-90);
--component-button-primary-error-background-disbled: var(--global-neutral-90);
--component-button-secondary-brand-text-disabled: var(--global-neutral-40);
--component-button-secondary-brand-icon-disabled: var(--global-neutral-40);
--component-button-secondary-brand-border-disabled: var(--global-neutral-95);
--component-button-secondary-brand-background-disabled: var(--global-neutral-90);
--component-button-secondary-neutral-text-disabled: var(--global-neutral-40);
--component-button-secondary-error-text-disabled: var(--global-neutral-40);
--component-button-secondary-neutral-icon-disabled: var(--global-neutral-40);
--component-button-secondary-error-icon-disabled: var(--global-neutral-40);
--component-button-secondary-error-border-disabled: var(--global-neutral-95);
--component-button-secondary-neutral-border-disabled: var(--global-neutral-95);
--component-button-secondary-neutral-background-disabled: var(--global-neutral-95);
--component-button-secondary-error-background-disabled: var(--global-neutral-90);
--component-button-tertiary-brand-text-disabled: var(--global-neutral-40);
--component-button-tertiary-brand-icon-disabled: var(--global-neutral-40);
--component-button-tertiary-neutal-text-disabled: var(--global-neutral-40);
--component-button-tertiary-neutal-icon-disabled: var(--global-neutral-40);
--component-button-tertiary-error-text-disabled: var(--global-neutral-40);
--component-button-tertiary-error-icon-disabled: var(--global-neutral-40);
--component-button-secondary-brand-background: var(--global-transparency-white-1);
--component-button-secondary-brand-background-hover: var(--brand-m-primary-90);
--component-button-secondary-neutral-background: var(--global-transparency-white-0);
--component-button-secondary-neutral-background-hover: var(--global-neutral-95);
--component-button-secondary-error-background: var(--global-base-white);
--component-button-secondary-error-background-hover: var(--system-error-90);
--component-button-tertiary-brand-background-hover: var(--brand-m-primary-90);
--component-button-tertiary-neutal-background-hover: var(--global-neutral-95);
--component-button-tertiary-error-background-hover: var(--system-error-90);
--component-button-tertiary-brand-background-disabled: var(--global-neutral-90);
--component-button-tertiary-neutal-background-disabled: var(--global-neutral-90);
--component-button-tertiary-error-background-disabled: var(--global-neutral-90);
--component-input-brand-border: var(--global-neutral-80);
--component-input-brand-border-hover: var(--brand-m-primary-00);
--component-input-brand-border-active: var(--brand-m-primary-00);
--component-input-brand-border-disabled: var(--global-neutral-95);
--component-input-brand-background: var(--global-transparency-white-1);
--component-input-brand-background-disabled: var(--global-neutral-95);
--icon-placeholder: var(--global-neutral-40);
--component-input-error-background: var(--global-transparency-white-1);
--component-input-error-background-disabled: var(--global-neutral-95);
--component-input-error-border: var(--system-error-00);
--component-input-error-border-hover: var(--system-error--20);
--component-input-error-border-active: var(--system-error-00);
--component-input-error-border-disabled: var(--global-neutral-95);
--text-placeholder-darker: var(--global-neutral-20);
--background-brand-dark: var(--brand-m-primary--20);
--background-disbled: var(--global-neutral-80);
--background-disbled-subtle: var(--global-neutral-95);
--icon-brand-dark: var(--brand-m-primary--20);
--border-brand-dark: var(--brand-m-primary--20);
--icon-success-dark: var(--system-success--20);
--icon-warning-dark: var(--system-warning--20);
--icon-error-dark: var(--system-error--20);
--icon-info-dark: var(--system-info--20);
--component-utility-lavender-purple-utility-lavender-purple-90: var(--global-utility-lavender-purple--90);
--component-utility-lavender-purple-utility-lavender-purple-80: var(--global-utility-lavender-purple--80);
--component-utility-lavender-purple-utility-lavender-purple-70: var(--global-utility-lavender-purple--70);
--component-utility-lavender-purple-utility-lavender-purple-60: var(--global-utility-lavender-purple--60);
--component-utility-lavender-purple-utility-lavender-purple-50: var(--global-utility-lavender-purple--50);
--component-utility-lavender-purple-utility-lavender-purple-40: var(--global-utility-lavender-purple--40);
--component-utility-lavender-purple-utility-lavender-purple-30: var(--global-utility-lavender-purple--30);
--component-utility-lavender-purple-utility-lavender-purple-20: var(--global-utility-lavender-purple--20);
--component-utility-lavender-purple-utility-lavender-purple-10: var(--global-utility-lavender-purple--10);
--component-utility-lavender-purple-utility-lavender-purple-00: var(--global-utility-lavender-purple-00);
--component-utility-lavender-purple-utility-lavender-purple10: var(--global-utility-lavender-purple-10);
--component-utility-lavender-purple-utility-lavender-purple20: var(--global-utility-lavender-purple-20);
--component-utility-lavender-purple-utility-lavender-purple30: var(--global-utility-lavender-purple-30);
--component-utility-lavender-purple-utility-lavender-purple40: var(--global-utility-lavender-purple-40);
--component-utility-lavender-purple-utility-lavender-purple50: var(--global-utility-lavender-purple-50);
--component-utility-lavender-purple-utility-lavender-purple60: var(--global-utility-lavender-purple-60);
--component-utility-lavender-purple-utility-lavender-purple70: var(--global-utility-lavender-purple-70);
--component-utility-lavender-purple-utility-lavender-purple80: var(--global-utility-lavender-purple-80);
--component-utility-lavender-purple-utility-lavender-purple90: var(--global-utility-lavender-purple-90);
--icon-brand-light: var(--brand-m-primary-20);
--icon-success-light: var(--system-success-20);
--icon-warning-light: var(--system-warning-20);
--icon-error-light: var(--system-error-20);
--icon-info-light: var(--system-info-20);
--foreground-brand-primary-dark: var(--brand-m-primary--20);
--foreground-brand-primary-light: var(--brand-m-primary-20);
--component-utility-dark-orange-utility-dark-orange-90: var(--global-utility-dark-orange--90);
--component-utility-dark-orange-utility-dark-orange-80: var(--global-utility-dark-orange--80);
--component-utility-dark-orange-utility-dark-orange-70: var(--global-utility-dark-orange--70);
--component-utility-dark-orange-utility-dark-orange-60: var(--global-utility-dark-orange--60);
--component-utility-dark-orange-utility-dark-orange-50: var(--global-utility-dark-orange--50);
--component-utility-dark-orange-utility-dark-orange-40: var(--global-utility-dark-orange--40);
--component-utility-dark-orange-utility-dark-orange-30: var(--global-utility-dark-orange--30);
--component-utility-dark-orange-utility-dark-orange-20: var(--global-utility-dark-orange--20);
--component-utility-dark-orange-utility-dark-orange-10: var(--global-utility-dark-orange--10);
--component-utility-dark-orange-utility-dark-orange-00: var(--global-utility-dark-orange-00);
--component-utility-dark-orange-utility-dark-orange10: var(--global-utility-dark-orange-10);
--component-utility-dark-orange-utility-dark-orange20: var(--global-utility-dark-orange-20);
--component-utility-dark-orange-utility-dark-orange30: var(--global-utility-dark-orange-30);
--component-utility-dark-orange-utility-dark-orange40: var(--global-utility-dark-orange-40);
--component-utility-dark-orange-utility-dark-orange50: var(--global-utility-dark-orange-50);
--component-utility-dark-orange-utility-dark-orange60: var(--global-utility-dark-orange-60);
--component-utility-dark-orange-utility-dark-orange70: var(--global-utility-dark-orange-70);
--component-utility-dark-orange-utility-dark-orange80: var(--global-utility-dark-orange-80);
--component-utility-dark-orange-utility-dark-orange90: var(--global-utility-dark-orange-90);
--background-solid: var(--global-neutral--60);
--component-utility-success-utilily-success-90: var(--system-success--90);
--component-utility-success-utilily-success-80: var(--system-success--80);
--component-utility-success-utilily-success-70: var(--system-success--70);
--component-utility-success-utilily-success-60: var(--system-success--60);
--component-utility-success-utilily-success-50: var(--system-success--50);
--component-utility-success-utilily-success-40: var(--system-success--40);
--component-utility-success-utilily-success-30: var(--system-success--30);
--component-utility-success-utilily-success-20: var(--system-success--20);
--component-utility-success-utilily-success-10: var(--system-success--10);
--component-utility-success-utilily-success-00: var(--system-success-00);
--component-utility-success-utilily-success10: var(--system-success-10);
--component-utility-success-utilily-success20: var(--system-success-20);
--component-utility-success-utilily-success30: var(--system-success-30);
--component-utility-success-utilily-success40: var(--system-success-40);
--component-utility-success-utilily-success50: var(--system-success-50);
--component-utility-success-utilily-success60: var(--system-success-50);
--component-utility-success-utilily-success70: var(--system-success-70);
--component-utility-success-utilily-success80: var(--system-success-80);
--component-utility-success-utilily-success90: var(--system-success-90);
--component-utility-warning-utilily-warning-90: var(--system-warning--90);
--component-utility-warning-utilily-warning-80: var(--system-warning--80);
--component-utility-warning-utilily-warning-70: var(--system-warning--70);
--component-utility-warning-utilily-warning-60: var(--system-warning--60);
--component-utility-warning-utilily-warning-50: var(--system-warning--50);
--component-utility-warning-utilily-warning-40: var(--system-warning--40);
--component-utility-warning-utilily-warning-30: var(--system-warning--30);
--component-utility-warning-utilily-warning-20: var(--system-warning--20);
--component-utility-warning-utilily-warning-10: var(--system-warning--10);
--component-utility-warning-utilily-warning-00: var(--system-warning-00);
--component-utility-warning-utilily-warning10: var(--system-warning-10);
--component-utility-warning-utilily-warning20: var(--system-warning-20);
--component-utility-warning-utilily-warning30: var(--system-warning-30);
--component-utility-warning-utilily-warning40: var(--system-warning-40);
--component-utility-warning-utilily-warning50: var(--system-warning-50);
--component-utility-warning-utilily-warning60: var(--system-warning-60);
--component-utility-warning-utilily-warning70: var(--system-warning-70);
--component-utility-warning-utilily-warning80: var(--system-warning-80);
--component-utility-warning-utilily-warning90: var(--system-warning-90);
--component-utility-error-utilily-error-90: var(--system-error--90);
--component-utility-error-utilily-error-80: var(--system-error--80);
--component-utility-error-utilily-error-70: var(--system-error--70);
--component-utility-error-utilily-error-60: var(--system-error--60);
--component-utility-error-utilily-error-50: var(--system-error--50);
--component-utility-error-utilily-error-40: var(--system-error--40);
--component-utility-error-utilily-error-30: var(--system-error--30);
--component-utility-error-utilily-error-20: var(--system-error--20);
--component-utility-error-utilily-error-10: var(--system-error--10);
--component-utility-error-utilily-error-00: var(--system-error-00);
--component-utility-error-utilily-error10: var(--system-error-10);
--component-utility-error-utilily-error20: var(--system-error-20);
--component-utility-error-utilily-error30: var(--system-error-30);
--component-utility-error-utilily-error40: var(--system-error-40);
--component-utility-error-utilily-error50: var(--system-error-50);
--component-utility-error-utilily-error60: var(--system-error-60);
--component-utility-error-utilily-error70: var(--system-error-70);
--component-utility-error-utilily-error80: var(--system-error-80);
--component-utility-error-utilily-error90: var(--system-error-90);
--component-utility-info-utilily-info-90: var(--system-info--90);
--component-utility-info-utilily-info-80: var(--system-info--80);
--component-utility-info-utilily-info-70: var(--system-info--70);
--component-utility-info-utilily-info-60: var(--system-info--60);
--component-utility-info-utilily-info-50: var(--system-info--50);
--component-utility-info-utilily-info-40: var(--system-info--40);
--component-utility-info-utilily-info-30: var(--system-info--30);
--component-utility-info-utilily-info-20: var(--system-info--20);
--component-utility-info-utilily-info-10: var(--system-info--10);
--component-utility-info-utilily-info-00: var(--system-info-00);
--component-utility-info-utilily-info10: var(--system-info-10);
--component-utility-info-utilily-info20: var(--system-info-20);
--component-utility-info-utilily-info30: var(--system-info-30);
--component-utility-info-utilily-info40: var(--system-info-40);
--component-utility-info-utilily-info50: var(--system-info-50);
--component-utility-info-utilily-info60: var(--system-info-60);
--component-utility-info-utilily-info70: var(--system-info-70);
--component-utility-info-utilily-info80: var(--system-info-80);
--component-utility-info-utilily-info90: var(--system-info-90);
--component-utility-brand-utilily-brand-90: var(--brand-m-primary--90);
--component-utility-brand-utilily-brand-80: var(--brand-m-primary--80);
--component-utility-brand-utilily-brand-70: var(--brand-m-primary--70);
--component-utility-brand-utilily-brand-60: var(--brand-m-primary--60);
--component-utility-brand-utilily-brand-50: var(--brand-m-primary--50);
--component-utility-brand-utilily-brand-40: var(--brand-m-primary--40);
--component-utility-brand-utilily-brand-30: var(--brand-m-primary--30);
--component-utility-brand-utilily-brand-20: var(--brand-m-primary--20);
--component-utility-brand-utilily-brand-10: var(--brand-m-primary--10);
--component-utility-brand-utilily-brand-00: var(--brand-m-primary-00);
--component-utility-brand-utilily-brand10: var(--brand-m-primary-10);
--component-utility-brand-utilily-brand20: var(--brand-m-primary-20);
--component-utility-brand-utilily-brand30: var(--brand-m-primary-30);
--component-utility-brand-utilily-brand40: var(--brand-m-primary-40);
--component-utility-brand-utilily-brand50: var(--brand-m-primary-50);
--component-utility-brand-utilily-brand60: var(--brand-m-primary-60);
--component-utility-brand-utilily-brand70: var(--brand-m-primary-70);
--component-utility-brand-utilily-brand80: var(--brand-m-primary-80);
--component-utility-brand-utilily-brand90: var(--brand-m-primary-90);
--foreground-brand-tertiary-dark: var(--brand-m-tertiary--20);
--foreground-brand-tertiary-light: var(--brand-m-tertiary-20);
--foreground-brand-secondary-dark: var(--brand-m-secondary--20);
--foreground-brand-secondary-light: var(--brand-m-secondary-20);
--foreground-success-dark: var(--system-success--20);
--foreground-success-light: var(--system-success-20);
--foreground-warning-dark: var(--system-warning--20);
--foreground-warning-light: var(--system-warning-20);
--foreground-error-dark: var(--system-error--20);
--foreground-error-light: var(--system-error-20);
--foreground-info-dark: var(--system-info--20);
--foreground-info-light: var(--system-info-20);
--border-brand-light: var(--brand-m-primary-20);
--background-brand-light: var(--brand-m-primary-20);
--border-success-dark: var(--system-success--20);
--border-success-light: var(--system-success-20);
--border-warning-light: var(--system-warning-20);
--border-warning-dark: var(--system-warning--20);
--border-error-light: var(--system-error-20);
--border-error-dark: var(--system-error--20);
--border-info-light: var(--system-info-20);
--border-info-dark: var(--system-info--20);
--component-breadcrumb-brand-text: var(--global-neutral--20);
--component-breadcrumb-brand-text-hover: var(--brand-m-primary-00);
--component-breadcrumb-brand-text-disbled: var(--global-neutral-40);
--component-breadcrumb-brand-icon: var(--global-neutral--20);
--component-breadcrumb-brand-icon-hover: var(--brand-m-primary-00);
--component-breadcrumb-brand-icon-disbled: var(--global-neutral-40);
--component-breadcrumb-brand-background: var(--global-transparency-white-1);
--component-breadcrumb-brand-background-hover: var(--brand-m-primary-90);
--component-breadcrumb-brand-background-disbled: var(--global-neutral-90);
--component-breadcrumb-neutral-text: var(--global-neutral-00);
--component-breadcrumb-neutral-text-hover: var(--global-neutral--20);
--component-breadcrumb-neutral-text-disbled: var(--global-neutral-40);
--component-breadcrumb-neutral-icon-disbled: var(--global-neutral-40);
--component-breadcrumb-neutral-icon: var(--global-neutral-00);
--component-breadcrumb-neutral-icon-hover: var(--global-neutral--20);
--component-breadcrumb-neutral-background: var(--global-transparency-white-1);
--component-breadcrumb-neutral-background-hover: var(--global-neutral-90);
--component-breadcrumb-neutral-background-disbled: var(--global-neutral-90);
--component-breadcrumb-neutral-icon-active: var(--global-neutral--60);
--component-breadcrumb-neutral-text-active: var(--global-neutral--60);
--component-breadcrumb-neutral-background-active: var(--global-neutral-90);
--component-breadcrumb-brand-text-active: var(--brand-m-primary--20);
--component-breadcrumb-brand-icon-active: var(--brand-m-primary--20);
--component-breadcrumb-brand-background-active: var(--brand-m-primary-80);
--component-gradient-neutral-40: var(--global-neutral-40);
--component-gradient-neutral-20: var(--global-neutral-20);
--component-gradient-neutral-00: var(--global-neutral-00);
--component-gradient-neutral--20: var(--global-neutral--20);
--component-gradient-neutral--40: var(--global-neutral--40);
--component-gradient-neutral--60: var(--global-neutral--60);
--component-gradient-neutral-60: var(--global-neutral-60);
--component-gradient-neutral-80: var(--global-neutral-80);
--component-gradient-neutral--80: var(--global-neutral--80);
--component-gradient-dark-orange-80: var(--dark-orange-do80);
--component-gradient-dark-orange-60: var(--dark-orange-do60);
--component-gradient-dark-orange-40: var(--dark-orange-do40);
--component-gradient-dark-orange-20: var(--dark-orange-do20);
--component-gradient-dark-orange-00: var(--dark-orange-do-00);
--component-gradient-dark-orange--20: var(--dark-orange-do-20);
--component-gradient-dark-orange--40: var(--dark-orange-do-40);
--component-gradient-dark-orange--60: var(--dark-orange-do-60);
--component-gradient-dark-orange--80: var(--dark-orange-do-80);
--border-white: var(--global-base-white);
--text-brand-light: var(--brand-m-primary-20);
--text-brand-dark: var(--brand-m-primary--20);
--background-transparent: var(--global-transparency-white-0);
--background-transparent-10: var(--global-transparency-white-1);
--text-warning-dark: var(--system-warning--20);
--text-warning-light: var(--system-warning-20);
--background-brand-subtle-hover: var(--brand-m-primary-80);
--text-success-dark: var(--system-success--20);
--text-success-light: var(--system-success-20);
--background-success-light: var(--system-success-20);
--background-success-dark: var(--system-success--20);
--component-utility-refreshing-green-utility-refreshing-green-90: var(--global-utility-refreshing-green--90);
--component-utility-refreshing-green-utility-refreshing-green-80: var(--global-utility-refreshing-green--80);
--component-utility-refreshing-green-utility-refreshing-green-70: var(--global-utility-refreshing-green--70);
--component-utility-refreshing-green-utility-refreshing-green-60: var(--global-utility-refreshing-green--60);
--component-utility-refreshing-green-utility-refreshing-green-50: var(--global-utility-refreshing-green--50);
--component-utility-refreshing-green-utility-refreshing-green-40: var(--global-utility-refreshing-green--40);
--component-utility-refreshing-green-utility-refreshing-green-30: var(--global-utility-refreshing-green--30);
--component-utility-refreshing-green-utility-refreshing-green-20: var(--global-utility-refreshing-green--20);
--component-utility-refreshing-green-utility-refreshing-green-10: var(--global-utility-refreshing-green--10);
--component-utility-refreshing-green-utility-refreshing-green-00: var(--global-utility-refreshing-green-00);
--component-utility-refreshing-green-utility-refreshing-green10: var(--global-utility-refreshing-green-10);
--component-utility-refreshing-green-utility-refreshing-green20: var(--global-utility-refreshing-green-20);
--component-utility-refreshing-green-utility-refreshing-green30: var(--global-utility-refreshing-green-30);
--component-utility-refreshing-green-utility-refreshing-green40: var(--global-utility-refreshing-green-40);
--component-utility-refreshing-green-utility-refreshing-green50: var(--global-utility-refreshing-green-50);
--component-utility-refreshing-green-utility-refreshing-green60: var(--global-utility-refreshing-green-60);
--component-utility-refreshing-green-utility-refreshing-green70: var(--global-utility-refreshing-green-70);
--component-utility-refreshing-green-utility-refreshing-green80: var(--global-utility-refreshing-green-80);
--component-utility-refreshing-green-utility-refreshing-green90: var(--global-utility-refreshing-green-90);
--component-utility-confident-blue-utility-confident-blue-90: var(--global-utility-confident-blue--90);
--component-utility-confident-blue-utility-confident-blue-80: var(--global-utility-confident-blue--80);
--component-utility-confident-blue-utility-confident-blue-70: var(--global-utility-confident-blue--70);
--component-utility-confident-blue-utility-confident-blue-60: var(--global-utility-confident-blue--60);
--component-utility-confident-blue-utility-confident-blue-50: var(--global-utility-confident-blue--50);
--component-utility-confident-blue-utility-confident-blue-40: var(--global-utility-confident-blue--40);
--component-utility-confident-blue-utility-confident-blue-30: var(--global-utility-confident-blue--30);
--component-utility-confident-blue-utility-confident-blue-20: var(--global-utility-confident-blue--20);
--component-utility-confident-blue-utility-confident-blue-10: var(--global-utility-confident-blue--10);
--component-utility-confident-blue-utility-confident-blue-00: var(--global-utility-confident-blue-00);
--component-utility-confident-blue-utility-confident-blue10: var(--global-utility-confident-blue-10);
--component-utility-confident-blue-utility-confident-blue20: var(--global-utility-confident-blue-20);
--component-utility-confident-blue-utility-confident-blue30: var(--global-utility-confident-blue-30);
--component-utility-confident-blue-utility-confident-blue40: var(--global-utility-confident-blue-40);
--component-utility-confident-blue-utility-confident-blue50: var(--global-utility-confident-blue-50);
--component-utility-confident-blue-utility-confident-blue60: var(--global-utility-confident-blue-60);
--component-utility-confident-blue-utility-confident-blue70: var(--global-utility-confident-blue-70);
--component-utility-confident-blue-utility-confident-blue80: var(--global-utility-confident-blue-80);
--component-utility-confident-blue-utility-confident-blue90: var(--global-utility-confident-blue-90);
--component-utility-trusted-navy-utility-trusted-navy-90: var(--global-utility-trusted-navy--90);
--component-utility-trusted-navy-utility-trusted-navy-80: var(--global-utility-trusted-navy--80);
--component-utility-trusted-navy-utility-trusted-navy-70: var(--global-utility-trusted-navy--70);
--component-utility-trusted-navy-utility-trusted-navy-60: var(--global-utility-trusted-navy--60);
--component-utility-trusted-navy-utility-trusted-navy-50: var(--global-utility-trusted-navy--50);
--component-utility-trusted-navy-utility-trusted-navy-40: var(--global-utility-trusted-navy--40);
--component-utility-trusted-navy-utility-trusted-navy-30: var(--global-utility-trusted-navy--30);
--component-utility-trusted-navy-utility-trusted-navy-20: var(--global-utility-trusted-navy--20);
--component-utility-trusted-navy-utility-trusted-navy-10: var(--global-utility-trusted-navy--10);
--component-utility-trusted-navy-utility-trusted-navy-00: var(--global-utility-trusted-navy-00);
--component-utility-trusted-navy-utility-trusted-navy10: var(--global-utility-trusted-navy-10);
--component-utility-trusted-navy-utility-trusted-navy20: var(--global-utility-trusted-navy-20);
--component-utility-trusted-navy-utility-trusted-navy30: var(--global-utility-trusted-navy-30);
--component-utility-trusted-navy-utility-trusted-navy40: var(--global-utility-trusted-navy-40);
--component-utility-trusted-navy-utility-trusted-navy50: var(--global-utility-trusted-navy-50);
--component-utility-trusted-navy-utility-trusted-navy60: var(--global-utility-trusted-navy-60);
--component-utility-trusted-navy-utility-trusted-navy70: var(--global-utility-trusted-navy-70);
--component-utility-trusted-navy-utility-trusted-navy80: var(--global-utility-trusted-navy-80);
--component-utility-trusted-navy-utility-trusted-navy90: var(--global-utility-trusted-navy-90);
--component-utility-refreshing-orange-utility-refreshing-orange-90: var(--global-utility-refreshing-orange--90);
--component-utility-refreshing-orange-utility-refreshing-orange-80: var(--global-utility-refreshing-orange--80);
--component-utility-refreshing-orange-utility-refreshing-orange-70: var(--global-utility-refreshing-orange--70);
--component-utility-refreshing-orange-utility-refreshing-orange-60: var(--global-utility-refreshing-orange--60);
--component-utility-refreshing-orange-utility-refreshing-orange-50: var(--global-utility-refreshing-orange--50);
--component-utility-refreshing-orange-utility-refreshing-orange-40: var(--global-utility-refreshing-orange--40);
--component-utility-refreshing-orange-utility-refreshing-orange-30: var(--global-utility-refreshing-orange--30);
--component-utility-refreshing-orange-utility-refreshing-orange-20: var(--global-utility-refreshing-orange--20);
--component-utility-refreshing-orange-utility-refreshing-orange-10: var(--global-utility-refreshing-orange--10);
--component-utility-refreshing-orange-utility-refreshing-orange-00: var(--global-utility-refreshing-orange-00);
--component-utility-refreshing-orange-utility-refreshing-orange10: var(--global-utility-refreshing-orange-10);
--component-utility-refreshing-orange-utility-refreshing-orange20: var(--global-utility-refreshing-orange-20);
--component-utility-refreshing-orange-utility-refreshing-orange30: var(--global-utility-refreshing-orange-30);
--component-utility-refreshing-orange-utility-refreshing-orange40: var(--global-utility-refreshing-orange-40);
--component-utility-refreshing-orange-utility-refreshing-orange50: var(--global-utility-refreshing-orange-50);
--component-utility-refreshing-orange-utility-refreshing-orange60: var(--global-utility-refreshing-orange-60);
--component-utility-refreshing-orange-utility-refreshing-orange70: var(--global-utility-refreshing-orange-70);
--component-utility-refreshing-orange-utility-refreshing-orange80: var(--global-utility-refreshing-orange-80);
--component-utility-refreshing-orange-utility-refreshing-orange90: var(--global-utility-refreshing-orange-90);
--component-utility-dark-pink-utility-dark-pink-90: var(--global-utility-dark-pink--90);
--component-utility-dark-pink-utility-dark-pink-80: var(--global-utility-dark-pink--80);
--component-utility-dark-pink-utility-dark-pink-70: var(--global-utility-dark-pink--70);
--component-utility-dark-pink-utility-dark-pink-60: var(--global-utility-dark-pink--60);
--component-utility-dark-pink-utility-dark-pink-50: var(--global-utility-dark-pink--50);
--component-utility-dark-pink-utility-dark-pink-40: var(--global-utility-dark-pink--40);
--component-utility-dark-pink-utility-dark-pink-30: var(--global-utility-dark-pink--30);
--component-utility-dark-pink-utility-dark-pink-20: var(--global-utility-dark-pink--20);
--component-utility-dark-pink-utility-dark-pink-10: var(--global-utility-dark-pink--10);
--component-utility-dark-pink-utility-dark-pink-00: var(--global-utility-dark-pink-00);
--component-utility-dark-pink-utility-dark-pink10: var(--global-utility-dark-pink-10);
--component-utility-dark-pink-utility-dark-pink20: var(--global-utility-dark-pink-20);
--component-utility-dark-pink-utility-dark-pink30: var(--global-utility-dark-pink-30);
--component-utility-dark-pink-utility-dark-pink40: var(--global-utility-dark-pink-40);
--component-utility-dark-pink-utility-dark-pink50: var(--global-utility-dark-pink-50);
--component-utility-dark-pink-utility-dark-pink60: var(--global-utility-dark-pink-60);
--component-utility-dark-pink-utility-dark-pink70: var(--global-utility-dark-pink-70);
--component-utility-dark-pink-utility-dark-pink80: var(--global-utility-dark-pink-80);
--component-utility-dark-pink-utility-dark-pink90: var(--global-utility-dark-pink-90);
--component-utility-transparency-utilily-transparency-white-0: var(--global-transparency-white-0);
--component-utility-transparency-utilily-transparency-white-1: var(--global-transparency-white-1);
--component-utility-transparency-utilily-transparency-white-2: var(--global-transparency-white-2);
--component-utility-transparency-utilily-transparency-white-3: var(--global-transparency-white-3);
--component-utility-transparency-utilily-transparency-white-4: var(--global-transparency-white-4);
--component-utility-transparency-utilily-transparency-white-5: var(--global-transparency-white-5);
--component-utility-transparency-utilily-transparency-white-6: var(--global-transparency-white-6);
--component-utility-transparency-utilily-transparency-white-7: var(--global-transparency-white-7);
--component-utility-transparency-utilily-transparency-white-8: var(--global-transparency-white-8);
--component-utility-transparency-utilily-transparency-white-9: var(--global-transparency-white-9);
--component-utility-transparency-utilily-transparency-black-0: var(--global-transparency-black-0);
--component-utility-transparency-utilily-transparency-black-2: var(--global-transparency-black-2);
--component-utility-transparency-utilily-transparency-black-3: var(--global-transparency-black-3);
--component-utility-transparency-utilily-transparency-black-4: var(--global-transparency-black-4);
--component-utility-transparency-utilily-transparency-black-5: var(--global-transparency-black-5);
--component-utility-transparency-utilily-transparency-black-6: var(--global-transparency-black-6);
--component-utility-transparency-utilily-transparency-black-7: var(--global-transparency-black-7);
--component-utility-transparency-utilily-transparency-black-8: var(--global-transparency-black-8);
--component-utility-transparency-utilily-transparency-black-9: var(--global-transparency-black-9);
--component-utility-transparency-utilily-transparency-black-1: var(--global-transparency-black-1);
--component-gradient-brand--60: var(--brand-m-primary--60);
--component-gradient-brand--80: var(--brand-m-primary--80);
--component-gradient-brand-60: var(--brand-m-primary-60);
--component-gradient-brand-80: var(--brand-m-primary-80);
--text-info-dark: var(--system-info--20);
--text-info-light: var(--system-info-20);
--background-transparent-80: var(--global-transparency-white-8);
--text-disabled-darker: var(--global-neutral-40);
--text-error-dark: var(--system-error--20);
--text-error-light: var(--system-error-20);
--background-disbled-darker: var(--global-neutral-60);

/* Radio Component Tokens */
--component-radio-size-sm: 16px;
--component-radio-size-md: 20px;
--component-radio-size-lg: 24px;
--component-radio-dot-size-sm: 8px;
--component-radio-dot-size-md: 10px;
--component-radio-dot-size-lg: 12px;
--component-radio-checked-color: var(--background-brand-default);
--component-radio-checked-dot-color: var(--background-brand-default);
--component-radio-checked-border-width: 2px;
  /* Checkbox Component Tokens */
  --component-checkbox-size-sm: 16px;
  --component-checkbox-size-md: 20px;
  --component-checkbox-size-lg: 24px;
}
