--font-family-noto-sans-thai-looped: "Noto Sans Thai Looped";
--size-3xl: 28px;
--size-8xl: 48px;
--size-4xl: 32px;
--size-xs: 12px;
--size-2xl: 24px;
--size-xl: 20px;
--size-6xl: 40px;
--size-md: 16px;
--size-7xl: 44px;
--size-lg: 18px;
--size-sm: 14px;
--size-5xl: 36px;
--size-9xl: 56px;
--size-10xl: 64px;
--size-11xl: 72px;
--line-height-xs: 16px;
--line-height-md: 24px;
--line-height-lg: 24px;
--line-height-xl: 26px;
--line-height-2xl: 28px;
--line-height-3xl: 32px;
--line-height-4xl: 44px;
--line-height-5xl: 48px;
--line-height-6xl: 48px;
--line-height-7xl: 52px;
--line-height-8xl: 56px;
--font-weight-black: 900px;
--font-weight-bold: 700px;
--font-weight-regular: 400px;
--font-weight-extrabold: 800px;
--font-weight-extralight: 200px;
--font-weight-medium: 500px;
--font-weight-semibold: 600px;
--font-weight-light: 300px;
--font-weight-thin: 100px;
--letter-spacing-normal: 0px;
--line-height-9xl: 64px;
--line-height-10xl: 76px;
--line-height-11xl: 86px;
--line-height-sm: 20px;
--letter-spacing-small: 0.4000000059604645px;
--size-2xs: 10px;
--line-height-2xs: 10px;
