--1: 4px;
--2: 8px;
--4: 16px;
--6: 24px;
--8: 32px;
--12: 48px;
--16: 64px;
--3: 12px;
--5: 20px;
--7: 28px;
--10: 40px;
--none: 0px;
--9: 36px;
--11: 44px;
--13: 52px;
--14: 56px;
--15: 60px;
